.image{
  background: url('./Asset/carousel-item_cleanup.png');
  background-size: cover;

}

.productimg1{

  background: url('./Asset/col-md-4.png');
  height: 220px;
  width: 320px;
}
.productimg2{

  background: url('./Asset/card-item.png');

  height: 220px;
  width: 320px;

  
}

.productimg3{

  background: url('./Asset/col-5.png');
  height: 220px;
  width: 320px;
}

.furuteimg1{
  background: url('./Asset/media\ bg-cover.png');
  background-size: cover;
  height: 600px;

}

.furuteimg2{
  background: url('./Asset/card-cover-5.jpg');
  background-size: cover;
  height: 600px;

}

